<div class="row">
  <!-- Market Card Displays -->
  <div class="col-4">
    <div class="card marketCard">
      <div class="pt-1 card-body">
        <div>
          <span class="cardHeader">MARKET</span><span class="mb-2 starNote">*prices below shown in USD</span>
        </div>

        <!-- TODO Market Date Filter -->
        <form class="d-flex">
          <input class="form-control mb-1" [(ngModel)]="searchInput"  type="search" name="name" placeholder="Search Currency Name" aria-label="Search" >
        </form>

        <div>
          <button type="button" (click)="filterBadges(0)" [ngClass]="alphabetical ? 'btn btn-sm btn-dark assetHover' : 'btn btn-sm btn-outline-dark assetHover'">Alphabetical</button>
          <button type="button" (click)="filterBadges(1)" [ngClass]="cost ? 'btn btn-sm btn-dark assetHover m-1' : 'btn btn-sm btn-outline-dark assetHover m-1'">Cost</button>
        </div>

        <!-- Asset Card Displays 
              NOTE:
                If currency change has went up in 24hrs show green banner i.e. if the variable 'changePercent24Hr' is positive
                If currency change has went down in 24hrs show red banner i.e. if the variable 'changePercent24Hr' is negative -->
        <div *ngFor="let asset of allAssets | currencySearchFilter: searchInput"> <!-- | currencySearchFilter: searchInput : cost : alphabetical-->
          <div (click)="displayAsset(asset)" [ngClass]="(asset.changePercent24Hr > 0) ? 'p-2 alert alert-success assetHover' : 'p-2 alert alert-danger assetHover'" role="alert">
            <div class="row">
              <div class="col-4">
                <div class="alert-heading currencyHeader">{{ asset.symbol }}</div><div class="currencySymbol">   {{ asset.name | uppercase }}</div>
              </div>
              <div class="col-4 currencyDescription">{{ asset.priceUsd | currency:"USD" : "symbol-narrow"  }}</div>
              <div class="col-4 currencyDescription">{{ asset.changePercent24Hr | percent: '2.2-3' }}</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Chart Card Displays -->
  <div class="col-8">
    <div class="card graphCard">
      <div class="card-body">{{ assetName }}</div>
    </div>
  </div>
</div>





  
