.assetHover:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.assetHeader {
    font-size: 40px;
    font-weight: 200;
    text-align: left;
}

.currencyHeader {
    font-size: 18px;
    font-weight: 400;
}

.starNote {
    font-size: 10px;
}

.currencyDetails {
    font-size: 30px;
    font-weight: 200;
    text-align: center;
}

.assetDetails {
    font-size: 14px;
    font-weight: 200;
    text-align: center;
}

.currencyDescription {
    font-size: 16px;
    text-align: center;
}

.currencySymbol {
    font-size: 12px;
}

.graphCard {
    position: fixed;
}

.candle-chart {
    height: 400px;
    width: 800px;
}